<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="GlobalMaqs" type="System.Configuration.NameValueSectionHandler" />
		<section name="PlaywrightMaqs" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<GlobalMaqs>
		<!--For configuration override tests-->
		<add key="OverrideTest" value="not overridden" />
		<add key="OverrideNUnitTest" value="not overridden" />

		<!-- Generic wait time in milliseconds - AKA how long do you wait for rechecking something -->
		<add key="WaitTime" value="1000" />

		<!-- Generic time-out in milliseconds -->
		<add key="Timeout" value="10000" />

		<!-- Do you want to create logs for your tests
		<add key="Log" value="YES"/>
		<add key="Log" value="NO"/>
		<add key="Log" value="OnFail"/>-->
		<add key="Log" value="OnFail" />

		<!--Logging Levels
		<add key="LogLevel" value="VERBOSE"/>
		<add key="LogLevel" value="INFORMATION"/>
		<add key="LogLevel" value="GENERIC"/>
		<add key="LogLevel" value="SUCCESS"/>
		<add key="LogLevel" value="WARNING"/>
		<add key="LogLevel" value="ERROR"/>-->
		<add key="LogLevel" value="VERBOSE" />

		<!-- Logging Types
		<add key="LogType" value="CONSOLE"/>
		<add key="LogType" value="TXT"/>
		<add key="LogType" value="HTML"/>-->
		<add key="LogType" value="TXT" />

		<!-- Log file path - Defaults to build location if no value is defined
		<add key="FileLoggerPath" value="C:\Frameworks\"/>-->
	</GlobalMaqs>
	<PlaywrightMaqs>
		<!--Default base web url-->
		<add key="WebBase" value="https://cognizantopensource.github.io/maqs-dotnet-templates/Static/Automation/" />

		<!--Local browser settings
		<add key="Browser" value="Chrome"/>
		<add key="Browser" value="Chromium"/>
		<add key="Browser" value="Firefox"/>
		<add key="Browser" value="Edge"/>
		<add key="Browser" value="Webkit"/>-->
		<add key="Browser" value="Chromium" />
		<add key="Headless" value="Yes" />

		<!--Playwright specific timeouts in milliseconds-->
		<add key="Timeout" value="20000" />
		<add key="CommandTimeout" value="200000" />

		<!--Playwright specific logging options-->
		<add key="CaptureVideo" value="No" />
		<add key="CaptureScreenshots" value="No" />
		<add key="CaptureSnapshots" value="No" />

		<!--Browser Resize settings - The Default is 1280x720
		<add key="BrowserSize" value="DEFAULT" />
		<add key="BrowserSize" value="300x300" />-->

		<!--Proxy  settings-->
		<add key="UseProxy" value="No" />
		<add key="ProxyAddress" value="http://localhost:8002" />
	</PlaywrightMaqs>
</configuration>
